.TodoList {
  margin: 5px;
  padding: 5px;
  width: 400px;
}

.TodoList__item {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
}

.TodoList__text {
  margin: 0 10px 0 0;
}

.Todos__Statistic {
  margin: 5px;
  padding: 5px;
}
