@import 'styles/shared.scss';

.TodoList {
  @extend %list;

  display: grid;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: minmax(400px);
  grid-gap: 24px;
}

.TodoList__btn {
  @extend %button;

  margin-left: auto;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: $indigo;
  color: $white;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 375px) {
  .TodoList {
    grid-gap: 12px;
  }
}
